@import "variables";

section {
  margin: 1rem;
}

.error-container {
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(98, 7, 7, 0.5);
  border-radius: 10px;
  padding: 1rem;

  .error-text {
    color: #ff1200;
    font-size: 1.5rem;
  }

  .error-image {
    max-width: 100px;
  }
}

.exit-button-section {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
}

.exit-button {
  background-color: $pokemon-red-colour;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  min-width: 100px;
}


.top-award {
  display: flex;
  justify-content: center;
  img {
    width: 100px;
  }
  animation: award-show-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @media (min-width: $layout-breakpoint-xtra-small) {
    img {
      width: 200px;
    }
  }
}

@keyframes award-show-up {
  0%{
    transform: scale(0);
    filter: opacity(0);
  }
  100% {
    transform: scale(1);
    filter: (1);
  }
}


.button-section {
  justify-content: center;
  margin-top: 1rem;
  text-align: center;

  @media (min-width: $layout-breakpoint-xtra-small) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}

.game-completion-text {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.loading-section {
  position: absolute;
  top: 45%;
  left: 0;
  margin-top: 0;
  width: 100%;
  font-size: 5rem;
  text-align: center;
}

.loading-image {
  filter: brightness(0.7);
  width: 150px;
  animation-name: rock;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading-text {
  font-size: 3rem;
  margin-top: 0;
}

@keyframes rock {
  0% {
    transform: rotate3D(0) translateX(0);
  }
  15% {
    transform: rotate3D(0, 0, 1, 30deg) translateX(15px);
  }
  50% {
    transform: rotate3D(0, 0, 1, 0deg) translateX(0px);
  }
  85% {
    transform: rotate3D(0, 0, 1, -30deg) translateX(-15px);
  }
  100% {
    transform: rotate3D(0) translateX(0);
  }

}

.final-score-title {
  font-size: 2rem;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 4rem;
  }
}

.final-score-text {
  font-size: 3rem;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 5rem;
  }
}
