@import 'variables';

section {
    width: 100%;
    height: 100%;
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;

    @media (min-width: $layout-breakpoint-xtra-small) {
        margin-top: 2rem;
    }
}

.loading-section {
    position: absolute;
    top: 45%;
    left: 0;
    margin-top: 0;
    width: 100%;
    font-size: 5rem;
    text-align: center;
}