<section>
    @if(isLoading) {
    <div class="loading-section">
        <img class="loading-image" src="/images/pokeball.svg" />
        <p class="poke-text loading-text">Loading</p>
    </div>
    } @else {
    <app-game-score />
    @if(!isFinished){
    <app-pokemon-image />
    <div class="button-section">
        @if(!roundResult){
        <app-selection-buttons (optionSelected)="handleOptionSelected($event)" />
        }
        @if(showNextRoundButton) {
            <div>
                <p>Click to go to the next round!</p>
                <button class="next-round-button" (click)="startNewRound()">{{"Round " + getNextRoundNumber()}}</button>
            </div>
        }
    </div>
    <div class="exit-button-section">
        <button class="exit-button" title="Click to exit game" (click)="resetGame()">Exit</button>
    </div>
    } @else {
    <div class="button-section">
        <button (click)="resetGame()">Finish</button>
    </div>
    }
    }
</section>