@import 'variables';
@import 'mixins';


$drop-shadow: drop-shadow(-10px 10px 0px rgb(47, 47, 47));

section {
  width: 100%;
  display: flex;
    // flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 300px;

  @media (min-width: $layout-breakpoint-xtra-small) {
    height: 400px;
  }

  @media (min-width: $layout-breakpoint-small) {
    height: 500px;
  }
}

.pokemon-image {
  width: 250px;
  filter: $drop-shadow;

  &.hide {
    filter: contrast(0%) hue-rotate(180deg) $drop-shadow;
  }

  &.show {
    animation-name: show-pokemon;
    animation-duration: var(--animation-duration);
  }
}

@keyframes show-pokemon {
  from {
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow;
  }
  to {
    filter: contrast(100%) hue-rotate(0deg) $drop-shadow;
  }
}

.pokemon-image-section {
  flex: 1;
  // width: 100%;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 2rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 4rem;
  }
}

.pokemon-name-section {
  font-family: "pokemon";
  color: $pokemon-yellow-colour;
  font-size: 0.8rem;
  flex: 1;
  // width: 100%;
  text-transform: capitalize;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 2rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 3rem;
  }
}

.pokemon-question-mark {
  font-size: 5rem;
  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 8rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 10rem;
  }
}

.result-svg-section {
  display: flex;
  justify-content: center;
  height: 100%;
}

.result-svg {
  // animation-name: size;
  // animation-duration: 2s;
  // animation-timing-function: ease-in-out;
}

@keyframes size {
  0% {
    width: 100%;
    height: 100%;
  }
  25% {
    width: 120%;
    height: 120%;
  }
  50% {
    width: 140%;
    height: 140%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
