@import 'variables';
@import 'mixins';


$drop-shadow: drop-shadow(-10px 10px 0px rgb(47, 47, 47));

.image-area-container {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 250px;
  position: relative;

  @media (min-width: $layout-breakpoint-xtra-small) {
    height: 350px;
  }
}

$pokemon-image-background-size: 200px;
$pokeball-animation-time: 1s;

.pokemon-background {
  position: absolute;
  width: $pokemon-image-background-size;
  height: $pokemon-image-background-size;
  filter: blur(5px);

  @media (min-width: $layout-breakpoint-xtra-small) {
    width: $pokemon-image-background-size + 100px;
    height: $pokemon-image-background-size + 100px;
  }

  @media (min-width: $layout-breakpoint-small) {
    width: $pokemon-image-background-size + 100px;
    height: $pokemon-image-background-size + 100px;
  }
}

.poke-ball {
  position: absolute;

  width: $pokemon-image-background-size;
  height: $pokemon-image-background-size;
  filter: opacity(0);
  animation-name: poke-ball-animation;
  animation-duration: $pokeball-animation-time;

  @media (min-width: $layout-breakpoint-xtra-small) {
    width: $pokemon-image-background-size + 100px;
    height: $pokemon-image-background-size + 100px;
  }

  @media (min-width: $layout-breakpoint-small) {
    width: $pokemon-image-background-size + 100px;
    height: $pokemon-image-background-size + 100px;
  }
}

$translation-width: calc(30vw);
$translation-height: calc(30vh);

@keyframes poke-ball-animation {
  0% {
    transform: scale(1) rotate(0deg) translateX($translation-width) translateY($translation-height) rotate(0);
    filter: opacity(1);
  }
  50% {
    transform: scale(0.2) rotate(-200deg) translateX(0px) translateY(0px) rotate(200deg);
    filter: opacity(0);
  }
}

.pokemon-image {
  width: 250px;
  height: 250px;
  filter: $drop-shadow opacity(0);
  animation: pokemon-show-up;
  animation-duration: var(--animation-duration);
  animation-delay: $pokeball-animation-time;
  animation-fill-mode: forwards;

  &.hide {
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow opacity(0);
  }

  &.show {
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow opacity(1);
    animation-name: show-pokemon;
    animation-duration: var(--animation-duration);
    animation-delay: $pokeball-animation-time;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

@keyframes pokemon-show-up {
  0%{
    transform: scale(0);
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow opacity(0);
  }
  100% {
    transform: scale(1);
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow opacity(1);
  }
}

@keyframes show-pokemon {
  from {
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow opacity(1);
  }
  to {
    filter: contrast(100%) hue-rotate(0deg) $drop-shadow opacity(1);
  }
}

.pokemon-image-section {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 2rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 4rem;
  }
}

.pokemon-name-section {
  font-family: "Nerko One", cursive;
  color: $pokemon-yellow-colour;
  font-size: 1.2rem;
  flex: 1;
  text-transform: capitalize;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 3rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 4rem;
  }  
}

.pokemon-name {
  &.spin{
    animation-name: spin-animation;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
  }
}

@keyframes spin-animation {
  0% {
    filter: opacity(0);
    transform: rotate(0deg) scale(0);
  }
  100% {
    filter: opacity(1);
    transform: rotate(360deg) scale(1);
  }
}

.pokemon-question-mark {
  margin: 0;
  max-height: 100px;
  filter: opacity(0) $drop-shadow;
  animation-name: pokemon-question-show-up;
  animation-duration: var(--animation-duration);
  animation-delay: $pokeball-animation-time;
  animation-fill-mode: forwards;

  @media (min-width: $layout-breakpoint-xtra-small) {
    max-height: 200px;
  }
}

@keyframes pokemon-question-show-up {
  0%{
    transform: scale(0);
    filter: opacity(0) $drop-shadow;
  }
  100% {
    transform: scale(1);
    filter: opacity(1) $drop-shadow;
  }
}

.result-svg-section {
  display: flex;
  justify-content: center;
  height: 100%;
}

.result-svg {
  animation-name: brightness-animation;
  animation-duration: 1s;
  animation-delay: var(--animation-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  filter: opacity(0)
}

@keyframes brightness-animation {
  0% {
    filter: brightness(0.5) opacity(0);
  }
  50% {
    filter: brightness(2) opacity(0.5);
  }
  100% {
    filter: brightness(1) opacity(1);
  }
}
