<section>
    <div class="image-area-container">
        <div class="pokemon-image-section">
            <img class="pokemon-background" src="/images/pokeBackground.svg"/>
            <img class="pokemon-image" [class.hide]="!result" [class.show]="result"
                [style.--animation-duration]="animationDuration" [src]="pokemonImage" />
        </div>
        <div class="pokemon-name-section">
            @if(pName) {
            <h2 class="pokemon-name" [class.spin]="isNameSet">{{ pName }}</h2>
            <div class="result-svg-section">
                @if(result === "success") {
                <img class="result-svg" src="/images/tick.svg" />
                } @else if (result === "fail") {
                <img class="result-svg" src="/images/cross.svg" />
                }
            </div>
            } @else {
            <div>
                <p class="pokemon-question-mark poke-text">?</p>
            </div>
            }
        </div>
    </div>
</section>