@import 'variables';
@import 'mixins';


$drop-shadow: drop-shadow(-10px 10px 0px rgb(47, 47, 47));

.image-area-container {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;

  @media (min-width: $layout-breakpoint-xtra-small) {
    height: 400px;
  }

  @media (min-width: $layout-breakpoint-small) {
    height: 500px;
  }
}

.pokemon-background {
  position: absolute;
  width: 200px;
  height: 200px;
  filter: blur(5px);

  @media (min-width: $layout-breakpoint-xtra-small) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $layout-breakpoint-small) {
    width: 400px;
    height: 400px;
  }
}

.pokemon-image {
  width: 250px;
  height: 250px;
  filter: $drop-shadow;

  &.hide {
    filter: contrast(0%) hue-rotate(180deg) $drop-shadow;
  }

  &.show {
    animation-name: show-pokemon;
    animation-duration: var(--animation-duration);
  }
}

@keyframes show-pokemon {
  from {
    filter: contrast(0%) hue-rotate(0deg) $drop-shadow;
  }
  to {
    filter: contrast(100%) hue-rotate(0deg) $drop-shadow;
  }
}

.pokemon-image-section {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 2rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 4rem;
  }
}

.pokemon-name-section {
  font-family: "pokemon";
  color: $pokemon-yellow-colour;
  font-size: 0.8rem;
  flex: 1;
  // width: 100%;
  text-transform: capitalize;

  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 2rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 3rem;
  }
}

.pokemon-question-mark {
  font-size: 5rem;
  @media (min-width: $layout-breakpoint-xtra-small) {
    font-size: 8rem;
  }

  @media (min-width: $layout-breakpoint-small) {
    font-size: 10rem;
  }
}

.result-svg-section {
  display: flex;
  justify-content: center;
  height: 100%;
}

.result-svg {
  animation-name: brightness-animation;
  animation-duration: 1s;
}

@keyframes brightness-animation {
  0% {
    filter: brightness(0.5);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}
