<section>
    <!-- <h1>{{"Round: " + currentRound + " / " + maxRounds}}</h1> -->
     <h1>Results</h1>
    <div class="score-section">
        <!-- <h2>Score: <span class="game-score">{{ score + " / " + maxScore }}</span></h2> -->
        <!-- <h1>Results: </h1> -->
        <div class="score-balls">
            @for (result of (paddedRoundResults()); track $index) {
                @switch (result) {
                    @case (undefined) {
                    <img class="score-pokeball none" src="/images/pokeball.svg" />
                    }
                    @case ("success") {
                    <img class="score-pokeball success" src="/images/pokeball.svg" />
                    }
                    @case ("fail") {
                    <img class="score-pokeball fail" src="/images/pokeball.svg" />
                    }
                }
            }
        </div>
    </div>

</section>