/* You can add global styles to this file, and also import other style files */
@import 'variables';

@font-face {
    font-family:'pokemon' ;
    src: url('/fonts/pokeSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$border-size: 3px;

body, html {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
    background: linear-gradient($main-background-colour, $secondary-background-colour);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: $pokemon-yellow-colour;
    text-shadow:  -$border-size $border-size 0 $pokemon-blue-colour,
    $border-size $border-size 0 $pokemon-blue-colour,
    $border-size (-$border-size) 0 $pokemon-blue-colour,
    -$border-size (-$border-size) 0 $pokemon-blue-colour;
}

h2, .poke-text {
    text-align: center;
    color: $pokemon-yellow-colour;
    text-shadow:  -$border-size $border-size 0 $pokemon-blue-colour,
    $border-size $border-size 0 $pokemon-blue-colour,
    $border-size (-$border-size) 0 $pokemon-blue-colour,
    -$border-size (-$border-size) 0 $pokemon-blue-colour;
}

button {
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    color: $pokemon-blue-colour;
    border-radius: 5px;
    border-style: solid;
    background-color: $pokemon-yellow-colour;

    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    width: 100%;

    &.next-round-button {
       margin: 0; 
    }

    &:hover {
        filter: brightness(70%);
    }

    @media (min-width: $layout-breakpoint-xtra-small) {
        font-size: 1.5rem;
        padding: 1rem;
        margin: 1rem;
        width: auto;
    }
}