$main-background-colour: #af1d00;
$secondary-background-colour: #480000;
$pokemon-red-colour: #cb2301;
$pokemon-yellow-colour: #ffcc03;
$pokemon-blue-colour: #425373;


$layout-breakpoint-xtra-xtra-small: 300px;
$layout-breakpoint-xtra-small: 500px;
$layout-breakpoint-small: 960px;